<p><a href="/">Go Back Home</a></p>
<h1> <%= @fighter %> </h1>
<h4> <%= @record %> </h4>
<p> <%= @pic_link %> </p>

<dl>
<dt>DOB</dt>
  <dd><%= @fighter_dob %> (<strong><%= @fighter_age %> years old</strong>)</dd>
<dt>Height</dt>
  <dd><%= @fighter_height %></dd>
<dt>Weight</dt>
  <dd><%= @fighter_weight %></dd>
<dt>Reach</dt>
  <dd><%= @fighter_reach %></dd>
<dt>Stance</dt>
  <dd><%= @fighter_stance %></dd>




</dl>
<%= @fight_history %>
